# docker compose to startup a local ES cluster
version: '2.2'
services:
  elasticsearch_searchguard_1:
    image: xtermi2/elasticsearch-searchguard
    container_name: elasticsearch_searchguard_1
    environment:
      node.name: "elasticsearch_searchguard_1"
      cluster.name: "my-cluster"
      discovery.zen.ping.unicast.hosts: "elasticsearch_searchguard_1, elasticsearch_searchguard_2"
      cluster.initial_master_nodes: "elasticsearch_searchguard_1, elasticsearch_searchguard_2"
      number_of_replicas: "1"
      auto_expand_replicas: "0-all"
      network.host: "0.0.0.0"
      network.bind_host: "0.0.0.0"
      bootstrap.memory_lock: "true"
      ES_JAVA_OPTS: "-Xms500m -Xmx500m"
      searchguard.ssl.transport.enabled: "true"
      searchguard.ssl.transport.enable_openssl_if_available: "true"
      searchguard.ssl.transport.pemcert_filepath: "certificates/node.pem"
      searchguard.ssl.transport.pemkey_filepath: "certificates/node.key"
      searchguard.ssl.transport.pemkey_password: "default-secret"
      searchguard.ssl.transport.pemtrustedcas_filepath: "certificates/root-ca.pem"
      searchguard.ssl.transport.enforce_hostname_verification: "false"
      searchguard.ssl.transport.resolve_hostname: "false"
      searchguard.ssl.http.enabled: "true"
      searchguard.ssl.http.pemcert_filepath: "certificates/node.pem"
      searchguard.ssl.http.pemkey_filepath: "certificates/node.key"
      searchguard.ssl.http.pemkey_password: "default-secret"
      searchguard.ssl.http.pemtrustedcas_filepath: "certificates/root-ca.pem"
      searchguard.enterprise_modules_enabled: "false"
      ROOT_CA: "root-ca.pem"
      ADMIN_PEM: "admin.pem"
      ADMIN_KEY: "admin.key"
      ADMIN_KEY_PASS: "default-secret"
      ELASTIC_PWD: "elastic"
      KIBANA_PWD: "kibana"
      BEATS_PWD: "beats"
    volumes:
      - ./es_config/elasticsearch.yml:/usr/share/elasticsearch/config/elasticsearch.yml
      - ./out:/usr/share/elasticsearch/config/certificates
    ulimits:
      memlock:
        soft: -1
        hard: -1
    ports:
      - "9200:9200"
    #    - "9300:9300"
    restart: always
    networks:
      - esnet
  elasticsearch_searchguard_2:
    image: xtermi2/elasticsearch-searchguard
    container_name: elasticsearch_searchguard_2
    environment:
      node.name: "elasticsearch_searchguard_2"
      cluster.name: "my-cluster"
      discovery.zen.ping.unicast.hosts: "elasticsearch_searchguard_1, elasticsearch_searchguard_2"
      cluster.initial_master_nodes: "elasticsearch_searchguard_1, elasticsearch_searchguard_2"
      number_of_replicas: "1"
      auto_expand_replicas: "0-all"
      network.host: "0.0.0.0"
      network.bind_host: "0.0.0.0"
      bootstrap.memory_lock: "true"
      ES_JAVA_OPTS: "-Xms500m -Xmx500m"
      searchguard.ssl.transport.enabled: "true"
      searchguard.ssl.transport.enable_openssl_if_available: "true"
      searchguard.ssl.transport.pemcert_filepath: "certificates/node.pem"
      searchguard.ssl.transport.pemkey_filepath: "certificates/node.key"
      searchguard.ssl.transport.pemkey_password: "default-secret"
      searchguard.ssl.transport.pemtrustedcas_filepath: "certificates/root-ca.pem"
      searchguard.ssl.transport.enforce_hostname_verification: "false"
      searchguard.ssl.transport.resolve_hostname: "false"
      searchguard.ssl.http.enabled: "true"
      searchguard.ssl.http.pemcert_filepath: "certificates/node.pem"
      searchguard.ssl.http.pemkey_filepath: "certificates/node.key"
      searchguard.ssl.http.pemkey_password: "default-secret"
      searchguard.ssl.http.pemtrustedcas_filepath: "certificates/root-ca.pem"
      searchguard.enterprise_modules_enabled: "false"
      ROOT_CA: "root-ca.pem"
      ADMIN_PEM: "admin.pem"
      ADMIN_KEY: "admin.key"
      ADMIN_KEY_PASS: "default-secret"
      ELASTIC_PWD: "elastic"
      KIBANA_PWD: "kibana"
      BEATS_PWD: "beats"
    volumes:
      - ./es_config/elasticsearch.yml:/usr/share/elasticsearch/config/elasticsearch.yml
      - ./out:/usr/share/elasticsearch/config/certificates
    ulimits:
      memlock:
        soft: -1
        hard: -1
    ports:
      - "9201:9200"
    #    - "9300:9300"
    restart: always
    networks:
      - esnet
  kibana:
    image: xtermi2/kibana-searchguard
    container_name: kibana
    environment:
      ELASTICSEARCH_HOSTS: "https://elasticsearch_searchguard_1:9200"
      ELASTICSEARCH_SSL_VERIFICATIONMODE: "none"
      ELASTICSEARCH_USERNAME: "kibana"
      ELASTICSEARCH_PASSWORD: "kibana"
    ports:
      - "5601:5601"
    restart: always
    depends_on:
      - "elasticsearch_searchguard_1"
      - "elasticsearch_searchguard_2"
    networks:
      - esnet
  prometheus:
    image: prom/prometheus:v2.11.1
    container_name: prometheus
    volumes:
      - ./monitoring/prometheus.yml:/etc/prometheus/prometheus.yml
    ports:
      - "9090:9090"
    restart: always
    depends_on:
      - "elasticsearch_searchguard_1"
      - "elasticsearch_searchguard_2"
    networks:
      - esnet
  grafana:
    image: grafana/grafana:6.2.5
    container_name: grafana
    volumes:
      - ./monitoring/grafana_provisioning_prometheus_datasource.yaml:/etc/grafana/provisioning/datasources/grafana_provisioning_prometheus_datasource.yaml
      - ./monitoring/grafana_provisioning_elasticsearch_dashboard.yaml:/etc/grafana/provisioning/dashboards/grafana_provisioning_elasticsearch_dashboard.yaml
      - ./monitoring/grafana_elasticsearchDashboard_266.json:/var/lib/grafana/dashboards/grafana_elasticsearchDashboard_266.json
    ports:
      - "3000:3000"
    restart: always
    depends_on:
      - "prometheus"
    networks:
      - esnet
networks:
  esnet: