# docker compose to startup a local ES cluster
version: '3.6'
services:
  elasticsearch_searchguard_1:
    image: xtermi2/elasticsearch-searchguard:7.6.0
    container_name: elasticsearch_searchguard_1
    environment:
      node.name: "elasticsearch_searchguard_1"
      discovery.seed_hosts: elasticsearch_searchguard_2
      cluster.initial_master_nodes: "elasticsearch_searchguard_1, elasticsearch_searchguard_2"
      ES_JAVA_OPTS: "-Xms256m -Xmx256m"
      ROOT_CA: "root-ca.pem"
      ADMIN_PEM: "admin.pem"
      ADMIN_KEY: "admin.key"
      ADMIN_KEY_PASS: "default-secret"
      ELASTIC_PWD: "elastic"
      KIBANA_PWD: "kibana"
      BEATS_PWD: "beats"
    volumes:
      - ./es_config/elasticsearch.yml:/usr/share/elasticsearch/config/elasticsearch.yml
      - ./out:/usr/share/elasticsearch/config/certificates
    ulimits:
      memlock:
        soft: -1
        hard: -1
    ports:
      - "9200:9200"
    restart: always
    healthcheck:
      test: curl -X GET -f -k -u 'elastic:elastic' https://localhost:9200 || exit 1
      interval: 30s
      timeout: 5s
      retries: 10
    networks:
      - esnet
  elasticsearch_searchguard_2:
    image: xtermi2/elasticsearch-searchguard:7.6.0
    container_name: elasticsearch_searchguard_2
    environment:
      node.name: "elasticsearch_searchguard_2"
      discovery.seed_hosts: elasticsearch_searchguard_1
      cluster.initial_master_nodes: "elasticsearch_searchguard_1, elasticsearch_searchguard_2"
      ES_JAVA_OPTS: "-Xms256m -Xmx256m"
      ROOT_CA: "root-ca.pem"
      ADMIN_PEM: "admin.pem"
      ADMIN_KEY: "admin.key"
      ADMIN_KEY_PASS: "default-secret"
      ELASTIC_PWD: "elastic"
      KIBANA_PWD: "kibana"
      BEATS_PWD: "beats"
    volumes:
      - ./es_config/elasticsearch.yml:/usr/share/elasticsearch/config/elasticsearch.yml
      - ./out:/usr/share/elasticsearch/config/certificates
    ulimits:
      memlock:
        soft: -1
        hard: -1
    ports:
      - "9201:9200"
    restart: always
    healthcheck:
      test: curl -X GET -f -k -u 'elastic:elastic' https://localhost:9200 || exit 1
      interval: 30s
      timeout: 5s
      retries: 10
    networks:
      - esnet
  kibana:
    image: xtermi2/kibana-searchguard:7.6.0
    container_name: kibana
    environment:
      ELASTICSEARCH_HOSTS: "https://elasticsearch_searchguard_1:9200"
      ELASTICSEARCH_SSL_VERIFICATIONMODE: "none"
      ELASTICSEARCH_USERNAME: "kibana"
      ELASTICSEARCH_PASSWORD: "kibana"
    ports:
      - "5601:5601"
    restart: always
    healthcheck:
      test: curl -X GET -f http://localhost:5601/status || exit 1
      interval: 30s
      timeout: 5s
      retries: 10
    depends_on:
      - "elasticsearch_searchguard_1"
      - "elasticsearch_searchguard_2"
    networks:
      - esnet
  filebeat:
    image: docker.elastic.co/beats/filebeat-oss:7.6.0
    container_name: filebeat
    # to overwrite the -e that disables logging to file and disable strict permission checks for filebeat.yml!
    command: -c filebeat.yml -strict.perms=false
    volumes:
      - ./es_config/filebeat.yml:/usr/share/filebeat/filebeat.yml
    ports:
      - "5066:5066"
    healthcheck:
      test: curl -X GET -f http://localhost:5066 || exit 1
      interval: 30s
      timeout: 5s
      retries: 5
    depends_on:
      - elasticsearch_searchguard_1
      - elasticsearch_searchguard_2
    networks:
      - esnet
  prometheus:
    image: prom/prometheus:v2.16.0
    container_name: prometheus
    volumes:
      - ./monitoring/prometheus.yml:/etc/prometheus/prometheus.yml
    ports:
      - "9090:9090"
    restart: always
    healthcheck:
      test: wget --quiet --tries=1 --spider http://localhost:9090/status || exit 1
      interval: 30s
      timeout: 5s
      retries: 5
    depends_on:
      - "elasticsearch_searchguard_1"
      - "elasticsearch_searchguard_2"
    networks:
      - esnet
  grafana:
    image: grafana/grafana:6.7.1
    container_name: grafana
    volumes:
      - ./monitoring/grafana_provisioning_prometheus_datasource.yaml:/etc/grafana/provisioning/datasources/grafana_provisioning_prometheus_datasource.yaml
      - ./monitoring/grafana_provisioning_elasticsearch_dashboard.yaml:/etc/grafana/provisioning/dashboards/grafana_provisioning_elasticsearch_dashboard.yaml
      - ./monitoring/grafana_elasticsearchDashboard_266.json:/var/lib/grafana/dashboards/grafana_elasticsearchDashboard_266.json
    ports:
      - "3000:3000"
    restart: always
    healthcheck:
      test: wget --quiet --tries=1 --spider http://localhost:3000/api/health || exit 1
      interval: 30s
      timeout: 5s
      retries: 10
    depends_on:
      - "prometheus"
    networks:
      - esnet
networks:
  esnet: